
@{
    ViewBag.Title = "Index";
}


<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/simple-sidebar.css" rel="stylesheet" />

<div class="container mt-1">
    <div class="row ">
        <div class="col-lg-4 col-sm-4 col-md-4">
            <div class="card text-white bg-dark mb-3 mr-1 " style="max-width: 18rem; height:100px">
                <div class="card-body"><p class="mt-3"><a class="text-white" href="~/Adres/Index/"><b>ADRES AYARLARI</b></a></p></div>

            </div>
            <div class="card text-white bg-danger mb-3 mr-1 " style="max-width: 18rem; height:100px">
                <div class="card-body">
                    <p class="mt-3">
                        <a class="text-white" href="~/Aksesuar/Index/"><b>AKSESUAR AYARLARI</b></a>
                    </p>
                </div>
            </div>
            <div class="card text-white bg-info mb-3 mr-1 " style="max-width: 18rem; height:100px">
                <div class="card-body">
                    <p class="mt-3">
                        <a class="text-white" href="~/Arac/Index/"><b>ARAÇ AYARLARI</b></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-md-4">
            <div class="card text-white bg-info mb-3 mr-1 " style="max-width: 18rem; height:100px">
                <div class="card-body"><p class="mt-3">  <a class="text-white" href="~/Bayi/Index/"><b>BAYİ AYARLARI</b></a></p></div>
            </div>
            <div class="card text-white bg-success mb-3 mr-1 " style="max-width: 18rem; height:100px">
                <div class="card-body"><p class="mt-3"><a class="text-white" href="/Fis/Index/"><b>SERVİS FİŞİ TANIMLARI</b></a></p></div>
            </div>
            <div class="card text-white bg-primary mb-3 mr-1 " style="max-width: 18rem; height:100px">
                <div class="card-body"><p class="mt-3"><a class="text-white" href="/Malzeme/Index/"><b>MALZEME YÖNETİMİ</b></a></p></div>
            </div>
        </div>

        <div class="col-lg-4 col-sm-4 col-md-4">
            <div class="card text-white bg-success mb-3 mr-1 " style="max-width: 18rem; height:100px">
                <div class="card-body">
                    <p class="mt-3">
                        <a class="text-white" href="~/Marka/Index/"><b>MARKA KAYDI</b></a>
                    </p>
                </div>
            </div>
            <div class="card text-white bg-info mb-3 mr-1 " style="max-width: 18rem; height:100px">
                <div class="card-body">
                    <p class="mt-3">
                        <a class="text-white" href="~/Personel/Index/"><b>PERSONEL DÜZENLEME</b></a>
                    </p>
                </div>
            </div>
            <div class="card text-white bg-dark mb-3 mr-1 " style="max-width: 18rem; height:100px">
                <div class="card-body"><p class="mt-3">
    <a class="text-white" href="~/Urun/Index/"><b>Ürün Grubu</b></a>
</p></div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-md-4">
            <div class="card text-white bg-primary mb-3 mr-1 " style="max-width: 18rem; height:100px">
                <div class="card-body"><p class="mt-3"><b>GRUPLAMA </b></p></div>
            </div>
            <div class="card text-white bg-success mb-3 mr-1 " style="max-width: 18rem; height:100px">
                <div class="card-body"><p class="mt-3"><b>RAPORLAR </b></p></div>
            </div>
            <div class="card text-white bg-info mb-3 mr-1 " style="max-width: 18rem; height:100px">
                <div class="card-body"><p class="mt-3"><b>YETKİLENDİRME </b></p></div>
            </div>

        </div>

    </div>

</div>


