
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/simple-sidebar.css" rel="stylesheet" />
    <div class="container mt-1">
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-header bg-dark text-white font-weight-bold">

                       FİŞ YÖNETİMİ

                    </div>
                    <div class="card-body">
                        <ul id="fis" class="list-group list-group-flush small ">
                            <li class="list-group-item">Toplam Fiş Sayısı </li>
                            <li class="list-group-item">Günlük Fiş Sayısı</li>
                            <li class="list-group-item">Günlük Ertelenen Fiş Sayısı</li>
                            <li class="list-group-item">Toplam Ertelenen Fiş Sayısı</li>
                            <li class="list-group-item">Günlük İptal Edilen Fiş Sayısı</li>
                            <li class="list-group-item">Geçmiş Açık Fiş Sayısı</li>
                            <li class="list-group-item">İleri Tarihli Fiş Sayısı</li>
                            <li class="list-group-item">Online Satış</li>
                            <li class="list-group-item">Günlük Aksesuar</li>
                        </ul>
                    </div>
                    <div class="card-footer bg-dark"></div>
                </div>
            </div>
        </div>
     </div>


