@using eServis.BusinessLayer
@using eServis.Entities

<div class="form-inline float-right">


    <div class="form-group mx-sm-3 mb-2">

        <input type="text" class="form-control" id="inputSearch" placeholder="Malzeme Kodu">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Ara</button>
</div>