
@model eServis.Entities.Marka

@{
    ViewBag.Title = "Marka Arsiv";
}

<h2>Arşive Gönder</h2>


<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Baslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Baslik)
        </dd>



    </dl>


    @using (Html.BeginForm("Arsiv", "Marka"))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input id="btnArsiv" type="submit" value="Arşive Gönder" class="btn btn-danger" />

        </div>
    }
</div>



